<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077362850999-7h6ld7brgqlfg01laran38f7n7e34cf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077362850999-7h6ld7brgqlfg01laran38f7n7e34cf7</string>
	<key>API_KEY</key>
	<string>AIzaSyDLkBdOJXVHFlDFPmB07AR6oZ8jfPHcSIg</string>
	<key>GCM_SENDER_ID</key>
	<string>1077362850999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incertimarco.sportCalendar</string>
	<key>PROJECT_ID</key>
	<string>calendariosport-2456f</string>
	<key>STORAGE_BUCKET</key>
	<string>calendariosport-2456f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077362850999:ios:555b11b404001714abe132</string>
</dict>
</plist>